sudo: false

language: node_js
node_js:
  - "9.4.0"

cache:
  yarn: true
  directories:
    - node_modules

before_install:
  - npm install -g yarn

jobs:
  include:
    - stage: flow
      script: yarn flow
    - stage: test
      script: yarn test
